<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="RegressionTest">
        <groups>
            <run>
                <include name="Group2"/>
            </run>
        </groups>
        <classes>
            <class name="TestPackage.TestClass2"/>
        </classes>
    </test>
</suite>