<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Testing/Downloads/GitHub/practicing">
        <classes>
            <class name="AnotherTestPackage.GoToYoutube">
                <methods>
                    <include name="GoYoutube"/>
                </methods>
            </class>
            <class name="TestPackage.ActionsDemo">
                <methods>
                    <include name="Start"/>
                </methods>
            </class>
            <class name="TestPackage.AlertDemo">
                <methods>
                    <include name="HandleAlert"/>
                    <include name="HandlePromptAlert"/>
                    <include name="HandleConfirmAlert"/>
                </methods>
            </class>
            <class name="TestPackage.AssertionsDemo">
                <methods>
                    <include name="ToautomationexerciseSite"/>
                </methods>
            </class>
            <class name="TestPackage.CheckBoxesDemo">
                <methods>
                    <include name="Start"/>
                </methods>
            </class>
            <class name="TestPackage.ContextMenuDemo">
                <methods>
                    <include name="testContextMenu"/>
                </methods>
            </class>
            <class name="TestPackage.DoubleClickDemo">
                <methods>
                    <include name="DoubleClickTest"/>
                </methods>
            </class>
            <class name="TestPackage.DragAndDropDemo">
                <methods>
                    <include name="DragDrop"/>
                </methods>
            </class>
            <class name="TestPackage.DropdownListDemo">
                <methods>
                    <include name="Dropdown"/>
                </methods>
            </class>
            <class name="TestPackage.ExplicitWaitDemo">
                <methods>
                    <include name="testExplicitWait"/>
                </methods>
            </class>
            <class name="TestPackage.FindElementByXpathDemo">
                <methods>
                    <include name="XpathSelector"/>
                </methods>
            </class>
            <class name="TestPackage.FluentWaitDemo">
                <methods>
                    <include name="testFluentWait"/>
                </methods>
            </class>
            <class name="TestPackage.FramesDemo">
                <methods>
                    <include name="testFramesByIDOrName"/>
                    <include name="testFramesDefaultContent"/>
                    <include name="testFramesByIDOrName2"/>
                    <include name="testFramesByIndex"/>
                </methods>
            </class>
            <class name="TestPackage.HandleCookiesDemo">
                <methods>
                    <include name="testCookies"/>
                </methods>
            </class>
            <class name="TestPackage.HandleMultipleWindowsDemo">
                <methods>
                    <include name="testWindowUsingTitle"/>
                    <include name="testWindowUsingName"/>
                </methods>
            </class>
            <class name="TestPackage.IsElementPresentCustomMethodDemo">
                <methods>
                    <include name="testElementPresent"/>
                </methods>
            </class>
            <class name="TestPackage.JSExecutionInSeleniumDemo">
                <methods>
                    <include name="executeJSCode"/>
                </methods>
            </class>
            <class name="TestPackage.LocatingElementsDemo">
                <methods>
                    <include name="ListOfElements"/>
                    <include name="cssSelector"/>
                    <include name="getAttributes"/>
                </methods>
            </class>
            <class name="TestPackage.ScreenshotsDemo">
                <methods>
                    <include name="testCase"/>
                </methods>
            </class>
            <class name="TestPackage.ScrollDemo">
                <methods>
                    <include name="testScrollDown"/>
                </methods>
            </class>
            <class name="TestPackage.TestNGParametersDemo">
                <methods>
                    <include name="testToGoogle"/>
                </methods>
            </class>
            <class name="TestPackage.WebTablesDemo">
                <methods>
                    <include name="testWebTable"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>